:root {

    --manang1-text: #413c58;
    --manang1-primary: #a3c4bc;
    --manang1-secondary: #bfd7b5;
    --manang1-tertiary: #e7efc5;
    --manang1-background: #f2e7c9;

    --manong1-text: #15161b;
    --manong1-primary: #c7866a;
    --manong1-secondary: #4f5d75;
    --manong1-tertiary: #bfc0c0;
    --manong1-background: #eee;

    --boyey1-text: #270722;
    --boyey1-primary: #ecce8e;
    --boyey1-secondary: #dbcf96;
    --boyey1-tertiary: #c2c6a7;
    --boyey1-background: #9ac2c5;

    --beby1-text: #6b5e62;
    --beby1-primary: #e9a9b4;
    --beby1-secondary: #eebb5d;
    --beby1-tertiary: #e4eaf7;
    --beby1-background: #eae7ec;

    --text: var(--beby1-text);
    --primary: var(--beby1-primary);
    --secondary: var(--beby1-secondary);
    --tertiary: var(--beby1-tertiary);
    --background: var(--beby1-background);

}

.outline {
    outline: 1px solid var(--text);
}

.no-outline {
    box-shadow: 2px 4px 10px -6px #3a302d87
}

p, a, span, h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

input[type='checkbox'], input[type='radio'] {
    width:40px;
    height:40px;
    margin: 10px;
}

input[type="text"], textarea {
    padding: 1em;
    width: -webkit-fill-available;
    margin: 5px 0;
    border-radius: 20px;
    border: unset;
    font-family: 'Quicksand', sans-serif;
}

input:focus-visible, textarea:focus-visible {
    outline: var(--primary) auto 1px;
}

textarea {
    height:100px;
    resize: vertical;
}

button {
    width: 100%;
    background: var(--primary);
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
    padding: 1em;
    border: unset;
    margin: 1em 0;
    font-size: 18px;
    border-radius: 20px;
}

html, body {
    background: var(--background);
}

.header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.header path {
    stroke: var(--text);
}

.footer .nav svg {
    fill: var(--text);
    stroke: var(--text);
}

.footer .nav.active svg {
    fill: var(--tertiary);
    stroke: var(--tertiary);
}

.footer {
    padding: 1em 0;
    background-color: var(--primary);
    position: fixed;
    height:35px;
    width: 100%;
    bottom: 0;
    z-index:999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .addNew {
    background: var(--secondary);
    padding: 1.2em;
    border-radius: 50%;
    position: relative;
    bottom: 20px;
}

.main-container {
    padding: 1em;
    margin-bottom: 5em;
}

h2.date {
    position: relative;
    margin-left: 0.5em;
    margin-top:2em;
}

h2.date::after {
    content: '';
    width: 30px;
    height: 5px;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -5px;
    mix-blend-mode: multiply;
}

.entry {
    padding: 1em;
    gap: 5px;
}

.entry h1, 
.entry h2, 
.entry h3, 
.entry h4, 
.entry h5, 
.entry h6,
.entry p {
    margin: 10px 0
}

.entry .edit-entry {
    position: relative;
}

.entry .edit-entry svg.edit {
    position: absolute;
    right: 0;   
    z-index: 1;
}

.entry .side {
    width: 100%;
    flex: 2%;
}

.entry .content {
    flex: 98%;
    max-width: 100%;
}

.entry .icon {
    background: var(--primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 13px;
}

.entry:not(:last-child) .line {
    width: 1px;
    background: var(--primary);
    height: calc(100% - 1.5em);
    margin: 0 auto;
}

.entry:not(:last-child) .line.outline {
    background: var(--text);
}

.entry .timestamp {
    opacity: 0.3;
    font-style: italic;
}

.entry-image {
    width: calc(100% - 30px);
    display: block;           
    height: auto;             
    border: 5px solid white;  
    padding: 5px;            
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);  
    margin: 20px auto;        
    background-color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.item-card {
    margin: 0.5em 0;
    border-radius: 20px;
    background: var(--tertiary);
}

/* REACT CALENDAR */

.react-calendar {
    border:unset !important;
    width: unset !important;
    font-family: 'Quicksand', sans-serif !important;
    background-color: unset !important;
}

.react-calendar__tile--now {
    background: var(--secondary) !important;
    color: var(--text) !important;
    border-radius:20px;
}

.react-calendar__viewContainer abbr {
    color: var(--text);
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: var(--primary)
}

.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.5;
}

.react-calendar__month-view__days__day--weekend {
    color: inherit !important;
}

.react-calendar__navigation__arrow, .react-calendar__navigation__label {
    padding: 0;
    color: var(--primary);
}

/* WYSIWYG */

#Editor div {
    color: var(--text)
}

.ce-popover {
    bottom: 4.5em;
}

.cdx-simple-image__caption {
    display: none;
}

/* Moveable */

.target {
    z-index:10
}

.moveable-origin {
    display: none;
}

button.custom-button {
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
    color: var(--background);
    border-radius: 5px;
    line-height: 0;
    padding-bottom: 2px;
}